.menu {
  display: flex;
  justify-content: center;
  list-style: none;
  text-align: center;
  border-bottom: 3px solid #E7833D;
  padding: 0;
}

.active::after {
  content: ""; /* Importante para generar contenido */
  display: block; /* Para que ocupe espacio y se pueda aplicar el ancho y color */
  left: 0;
  border-bottom: 6px solid #E7833D; /* Línea negra de 2px de grosor */
  border-radius: 20px;
  width: 100%;
  box-shadow: 0px -4px 20px 0px #E7833D;
}