<ul class="menu">
    <li class="menu--item">
        <a routerLink="/library/technology">
            <app-text className= "text_container" text="Technology"></app-text>
        </a>
    </li>

    <li class="menu--item"> 
        <a href="/capacity">
            <app-text className= "text_container" text="Capacity"></app-text>
        </a>
    </li>

    <li class="menu--item">
        <a href="/bootcamp">
            <app-text className= "text_container" text="Bootcamp"></app-text>
        </a>
    </li>
</ul>