<div>
    <div class="add-container">

        @if(technologys){
            @for(item of technologys; track item.name) {
                <li class="add-container--item">{{item.name}}</li>
            }
        }
        <app-button (buttonClick)="openSelect()">+</app-button>
    </div>
    <div *ngIf="(technologyList$ | async) as technologies" class={{dataContainer}}>
        <ul class="data-container--list">
          <li *ngFor="let tech of technologies" (click)="addElement(tech)" class="data-container--item">
              {{ tech.name }}
          </li>
        </ul>
      </div>
</div>