<div class="form-container">
    <form class="form">
        <app-text text="Crear {{type}}" className="form-container-title"></app-text>
        <app-button (buttonClick)="closeModal()" className="close-button">X</app-button>
        <app-input (valueChanged)="onNameChange($event)" text="Nombre" placeholder='Nombre de {{type}}' name="name"></app-input>
        <app-input (valueChanged)="onDescriptionChange($event)" text="Descripcion" placeholder="Descripción de {{type}}" name="description"></app-input>

        <app-button className="submit-button" (buttonClick)="onSubmit()">Crear</app-button>
    </form>
</div>

