/* Contenedor principal de la tarjeta */
.card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    margin-bottom: 30px;
    box-sizing: border-box;
    overflow-x: auto;
}

/* Contenedor de opciones */
.options-container {
    display: flex;
    width: 95%;
    justify-content: flex-end; /* Alinea los elementos al final del contenedor */
    margin-bottom: 10px; /* Añade un margen inferior opcional */
}

/* Contenedor de botones fijos */
.bottom-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.bottom-container--button{
    width: 5%;
    height: 50px;
}
/* Lista no ordenada */
ul {
    display: flex;
    flex-direction: row; /* Asegura que los elementos de la lista estén en fila */
    padding: 0; /* Elimina el relleno predeterminado de la lista */
}

/* Elementos de la lista */
li {
    margin: 10px;
    list-style-type: none; /* Elimina los puntos de la lista */
}

/* Contenedor de paginación */
.pagination-container {
    margin-top: 20px;
}

.message {
    margin: 0px auto;
    margin-top: 20px;
}

/* Contenedor principal */
.main {
    display: flex;
    flex-direction: column;
    width: 1600px;
    height: 100%;
    position: relative; /* Cambia a posición relativa para alinear elementos internos */
    padding-right: 20px; /* Añade espacio a la derecha para evitar desbordamiento */
}
