<main class="main">


    <div class="options-container">
        <div class="options-container--button">
            <app-button (buttonClick)="changeOrder()" className="open-button ">{{this.order}}</app-button>
        </div>
        <div class="options-container--size">
            <app-size-changer (sizeChanged)="onSizeChanged($event)"></app-size-changer>
        </div>
    </div>

    <div class="card-container">

    @if (technologyList$ | async ; as technologies) {
        @for(item of technologies; track item.name) {
            <app-card title="{{item.name}}" description="{{item.description}}" ></app-card>
        }
    }
    </div>


    

    @if(errorMessage.status === 0 || errorMessage.status === 404){
        <div class="message">
            <app-text text="{{errorMessage.message}}"></app-text>
        </div>
    }

    <app-modal-message [isSuccessful]="postResponse.status > 300 ? false : true"  text="{{text}}"></app-modal-message>


    <div  class="bottom-container">
        <div class="bottom-container--button">
            <app-button (buttonClick)="openModal()" className="open-button">+ Crear</app-button>
        </div>      
        <div class="bottom-container--pagination">
            <app-pagination (pageChanged)="onPageChanged($event)"></app-pagination>
        </div>  
    </div>

    <div *ngIf="modalSwitch == true">
        <app-modal-form type="Tecnologia"></app-modal-form>
    </div>
</main>


