<button *ngIf="isMobile" (click)="toggleMenu()" class="menu-toggle">☰</button>

<div class="nav--container" [ngClass]="{'mobile-menu': isMobile, 'show': showMenu}">
    <img class="logo" [src]="route.ONCLASS" alt="On Class Logo">
    <ul class="nav--items">
        @for (route of routes; track route.url) {
            <li routerLink="{{route.url}}" routerLinkActive="active-router" class="navbar-item">
                <app-text className="text__nav_container" iconClass={{route.icon}} text={{route.name}}></app-text>
            </li>
        }
    </ul>
</div>
